h1,h2{
	color: #BCBBBB;
}
.banner {
	max-width: 100%;
}
.container{
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.content {
	background-color: #ffffff;
	color: #444444;
	padding: 15px;
	max-width: 100%;
	-webkit-box-shadow: 5px 5px 13px 0px rgba(68,68,68,1);
	-moz-box-shadow: 5px 5px 13px 0px rgba(68,68,68,1);
	box-shadow: 5px 5px 13px 0px rgba(68,68,68,1);
}
.header{
	text-align: right;
}
.rule{
	width: 100%;
	background-color: #999;
	height: 10px;
}

.grid{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.row{
	width: 100%;
	margin-bottom: 20px;
	display: flex; flex-wrap: wrap;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width:16.66%;
}
.col-3 {
	width:25%;
}
.col-4 {
	width:33.33%;	

}
.col-5 {
	width:41.66%;
}
.col-6 {
	width:50%;
}
.col-7 {
	width:58.33%;
}
.col-8 {
	width:66.66%;
}
.col-9 {
	width:75%;
}
.col-10 {
	width:83.33%;
}
.col-11 {
	width:91.66%;
}
.col-12 {
	width:100%;
}

.image-thumb{
	width: 100%;
	max-width: 325px;
	display: flex;
	margin-left:auto;
	margin-right:auto;
	
	}
*{
	font-family: 'Lato', sans-serif;
}
	
.text-right{
	text-align: right;
}
/* Top Navigation Menu */

	.nav_menu { background-color: #444444; margin: 0px; height: 90%; max-width: 100%; padding: 0px; position: relative; z-index: 1000; }
	.nav_menu li {
		background-color: #444444;
		display: inline-block;
		padding:10px;
		text-decoration: none;
	}
	.nav_menu li a{
		color: #ffffff;
		line-height: 12px;
		padding: 10px;
		text-decoration: none;
	}
	.nav_menu ul{
		list-style-type: none;
	}
	.nav_menu li a:hover:not(.active) {
    background-color: #595959;
    color: white;
	}
	.nav_menu li a.active {
    background-color: #707070;
    color: white;
	}

/* Vertical Nav Menu*/
	.vert_nav ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
   		width: 95%;
    	background-color: #444444;
    	border: 1px solid #555;
	}

	.vert_nav li a {
	    display: block;
	    color: #ffffff;
	    padding: 8px 16px;
	    text-decoration: none;
	}

	.vert_nav li {
	    text-align: center;
	    border-bottom: 1px solid #555;
	}

	.vert_nav li:last-child {
	    border-bottom: none;
	}

	.vert_nav li a.active {
	    background-color: #707070;
	    color: white;
	}

	.vert_nav li a:hover:not(.active) {
	    background-color: #595959;
	    color: white;
	}


/*if screen size is smaller than 300px, the background will turn blue*/
@media only screen and (max-width: 500px){
	p{
		display: none;
	}
}
/**{
	border: 1px solid red !important;
}*/
*{
	-webkit-box-sizzing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
